@use "../variables" as v;
@use "../mixins" as m;

.excel__formula {
  position: sticky;
  left: 0;
  right: 0;
  top: v.$header-height + v.$toolbar-height;
  height: v.$formula-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid v.$border-color;
  z-index: v.$header-z-index;
  background-color: v.$main-color;


  .formula-info {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    border-right: 1px solid v.$border-color;
    min-width: v.$info-cell-width;
  }
  .formula-input {
    padding: 4px;
    font-size: 12px;
    outline: none;
    width: 100%;
    height: 100%;
    color: black;
    border: none;
  }
}