@use "../variables" as v;
@use "../mixins" as m;

.excel__toolbar {
  position: sticky;
  left: 0;
  right: 0;
  top: v.$header-height;
  height: v.$toolbar-height;
  border-top: 1px solid v.$border-color;
  border-bottom: 1px solid v.$border-color;
  padding: 7px 10px;
  display: flex;
  user-select: none;
  z-index: v.$header-z-index;
  background-color: v.$main-color;

  .button {
     @include m.button(green);
  }
}